.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #1b318e;
  font-weight: 500;
  text-align: center;
  margin-bottom: 42px;
  margin-top: 42px;

}

.stckliststyle{
  position: relative;
}

.ulstyle{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 18px;
  background-color: white;
}

.listyle{
  margin: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}

.textStyle{
  font-size: 20px;
  font-weight: 400;
}

.row{
  display: flex;
  align-items: center;
}

.inputFiledStyle{
  height: 30px;
  border: none;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 20px;
  color: blue;
  border-bottom: 1px dotted #1C69F2;
}

.textField{
  height: 30px;
  border: 1px solid #1C69F2;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 16px;
  margin-left: 8px;
  font-weight: 600;
}

.textField:focus{
  outline: none;
}

.btnstyle{
  color: #fff;
  background: #0045DB;
  width: 212px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;

}