.App {
  display: flex;
  flex-direction: column;
}

.contentblock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listBlock{
  margin: 32px;
}

.title {
  color: #1b318e;
  font-weight: 500;
  margin-bottom: 42px;
  margin-top: 42px;

}

.stckliststyle{
  position: relative;
}

.ulstyle{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 18px;
  background-color: white;
  max-height: 300px;
  overflow-y: scroll;
}

.listyle{
  display: grid;
  padding-left: 16px;
  padding-bottom: 6px;
  padding-top: 4px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.listyle:hover{
  background-color: lightgray;
}

.textStyle{
  font-size: 20px;
  font-weight: 400;
}

.row{
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.inputFiledStyle{
  height: 30px;
  border: none;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 20px;
  color: blue;
  border-bottom: 1px dotted #1C69F2;
}

.textField{
  height: 30px;
  width: 234px;
  border: 1px solid #1C69F2;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 16px;
  margin-left: 8px;
  font-weight: 600;
}

.textField:focus{
  outline: none;
}

.btnstyle{
  color: #fff;
  background: #0045DB;
  width: 212px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;

}

.triggerliststyle{
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  height: 48px;
  align-items: center;
  padding-right: 16px;
}

.listitemFirst{
  display: flex;
  flex: 1.5;
  font-size: large;
  font-weight: 500;
  color: darkslategrey;
}

.listitem{
  display: flex;
  flex: 1;
  font-size: large;
  font-weight: 500;
  color: darkslategrey;
}

.listitemFirstrow{
  font-size: large;
  font-weight: 400;
  color: #0045DB;
}

.moreicon{
  visibility: visible;
    padding: 6px;
    width: 24px;
    height: 6px;
    border: 1px solid blue;
    margin-right: 16px;
    cursor: pointer;
}

.listitemrow{
  display: flex;
  flex: 1;
  font-size: large;
  font-weight: 400;
  color: darkslategrey;
}

.horizontal{
  display: flex;
  flex-direction: row;
  flex: 1.5 1;
  align-items: center;
  justify-content: space-between;
}
